<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="icon" href="/favicon.ico">
  </head>
  <body>


  <div class="container">
      <div class="alert alert-success"><strong><%= title %></strong><span><br>Total level for today: <%= fslevel %></span></div>


      <div class="row" align="left">
          <div class="dropdown">
      <% if (menuitem.length >0) {%>
              <select id="dropdown" style="max-width:90%;">
                  <option value="">Select Activity</option>
                 <% for (i=0;i<menuitem.length;i++){%>
              <option value="<%= menuitem[i].activity %>"><%=menuitem[i].activity%></option>
          <% } %>
              </select>
          <% } %>

              </select>
              <input type="text" id="input_activity" placeholder="0" value="Resting" size="35">

    </div>
    <div class="row" align="center">

    </div>

</div>
<hr>
      <div class="row" align="center">
          <table class="table">

                  <tr><td colspan="5" align="left">Low Pain</td>
                  <td colspan="6" align="right">High Pain</td></tr>
                  <tr>
                    <td size="10%"><button type="button" class="btn btn-info btn-block">0</button></td>
                      <td size="10%"><button type="button"  class="btn btn-info btn-block">1 </button></td>
                      <td size="10%"><button type="button"  class="btn btn-primary btn-block">2</button></td>
                      <td size="10%"><button type="button" class="btn btn-primary btn-block">3</button></td>
                      <td size="10%"><button type="button" class="btn btn-success btn-block">4</button></td>
                      <td size="10%"><button type="button" class="btn btn-success btn-block">5</button></td>
                      <td size="10%"><button type="button"  class="btn btn-warning btn-block">6</button></td>
                      <td size="10%"><button type="button"  class="btn btn-warning btn-block">7</button></td>
                      <td size="10%"><button type="button" class="btn btn-danger btn-block">8</button></td>
                      <td size="10%"><button type="button" class="btn btn-danger btn-block">9</button></td>
                      <td size="10%"><button type="button" class="btn btn-danger btn-block">10</button></td>
                  </tr>

          </table>
    </div>
      <% if (listfortoday.length >0) {%>
      <table class="table table-hover">
          <thead>
          <tr>
              <th>Activity</th>
              <th>Pain Level</th>
          </tr>
          </thead>
          <tbody>
          <% for (i=0;i<listfortoday.length;i++){%>
          <tr>
              <td><%= listfortoday[i].whenlogged %></td>
              <td><%=listfortoday[i].painlogged%></td>
          </tr>
          <%  }%>
          </tbody>
      </table>
      <% } %>
<% if (painLevelYesterday <3){%>
      <div class="alert alert-success" role="alert">Yesterdays pain level <%=painLevelYesterday%></div>
      <% } else if (painLevelYesterday>3 && painLevelYesterday<4) { %>

      <div class="alert alert-warning" role="alert">Yesterdays pain level <%=painLevelYesterday%></div>
      <% }  else { %>
      <div class="alert alert-danger" role="alert">Yesterdays pain level <%=painLevelYesterday%></div>
      <%} %>

      <% include partials/template/footer.ejs %>


    </div>
  <script type="text/javascript">
  $(document).ready(function(){
      $('#dropdown').on('change', function() {
          $('#input_activity').val(this.value)
          //alert( this.value ); // or $(this).val()
      });
       });

  $(":button").click(function () {

      var activity = $('#input_activity').val();
      var painlevel =  $(this).text();
      // alert (painlevel);
     // if (input_activity == null ){input_activity ="unknown"}
      //alert(msg + " " + input_activity);
     // $.post("actions.php",{'action': action,'editor':editor});
      //var term = $form.find( "input[name='s']" ).val();
       var  url = "/logpain?painlevel=" +painlevel + "&activity=" + activity;
      //  alert(url );
      // Send the data using post
      //var posting = $.get( url, { s: input_activity } );
      //var form = $('<form method="post" action="' + url + '">' +
      //        '<input type="hidden" name="id" value="' + url + '"></form>');
      //alert (form);

      // error with submit changed from above to this
      // ref https://stackoverflow.com/questions/1200266/submit-a-form-using-jquery
      // #bug1001
      var form = document.createElement("form");
      $(form).attr("action", url)
          .attr("method", "post");
      $(form).html('<input type="hidden" name="id" value="' + url + '" />');
      document.body.appendChild(form);
      $(form).submit();
      document.body.removeChild(form);
      //$(form).submit();
  });
  </script>
  </body>
</html>
